node_modules
**/node_modules
**/.next
**/dist
**/.turbo
**/.git
**/*.md
!README.md
coverage
**/.env
**/.env.local
**/.env.production
apps/api/generated
uploads
apps/api/uploads
infra/docker/data
*.log
.DS_Store
Thumbs.db
.vscode
.idea
